In [39]:
#Libraries
from haversine import haversine
import plotly.express as px
import plotly.graph_objects as go

#bibliotecas necessárias
import folium
import pandas as pd
import streamlit as st
from PIL import Image

In [2]:
#================
#import dataset
#================
df = pd.read_csv(r'zomato.csv')

NameError: name 'pd' is not defined

In [41]:
df.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619

1. Quantos restaurantes únicos estão registrados?

In [28]:
restaurant_unique = df.loc[:, 'Restaurant Name'].nunique()
print( 'O numero de restaurantes unicos eh: {}'.format(restaurant_unique))

O numero de restaurantes unicos eh: 5914

2. Quantos países únicos estão registrados?

In [29]:
country_unique = df.loc[:, 'Country Code'].nunique()
print( 'O numero de paises unicos eh: {}'.format(country_unique))

O numero de paises unicos eh: 15

3. Quantas cidades únicas estão registradas?

In [30]:
city_unique = df.loc[:, 'City'].nunique()
print( 'O numero de cidades unicas eh: {}'.format(city_unique))

O numero de cidades unicas eh: 125

4. Qual o total de avaliações feitas?

In [35]:
rating_total = df.loc[:,'Rating text'].count()
print( 'O total de avaliacoes eh: {}'.format(rating_total))

O total de avaliacoes eh: 7527

5. Qual o total de tipos de culinária registrados?

In [43]:
culinaria_total = df.loc[:,'Cuisines'].nunique()
print( 'O total de tipos de culinaria registrados eh: {}'.format(culinaria_total))

O total de tipos de culinaria registrados eh: 2832